/* sidebar being 3 / 12 */
.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for sidebar items */
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for sidebar title */
.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px soild #a7a4a4;
  font-family: "Josefin Sans", serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

/* sidebar image */
.sidebarItem > img {
  margin-top: 15px;
  /* uses the whole width size photo */
  width: 100%;
  /* covers the entire screen */
  object-fit: cover;
}

/* sidebar p */
.sidebarItem > p {
  padding: 30px;
}

/* sidebar content list */
.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

/* styling for list items in sidebar */
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

/* styling for general social media icons in the sidebar */
.sidebarSocialIcons {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
}

/* styling for the social media icon */
.sidebarIcon {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
